<div class="row">
	<div class="col-lg-12">
		<header>
			<h1><%= title t("views.pages.about.title") %></h1>
			<%= t("views.pages.about.copy.tagline_html") %>
		</header>
	</div>
</div><!-- /.row -->




<div class="row">
	<div class="col-lg-8 col-md-8">
		<%= t("views.pages.about.copy.overview_html") %>

		<br />

		<p><%= link_to t("views.pages.about.link.residential_estate"), housing_projects_path, class: "btn btn-primary btn-lg", role: "button", title: t("views.pages.about.link.title.residential_estate") %></p>
	</div>
	<div class="col-lg-4 col-md-4">

	</div>
</div><!-- /.row -->
